<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.autoCompleteOffOnViewState</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>dev-mode</param-name>
        <param-value>false</param-value>
    </context-param>
    <!-- Allows requests from other domains -->
    <filter>
        <filter-name>CORS</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORS</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CertificateRequestServlet</servlet-name>
        <servlet-class>ch.bfh.unicert.webclient.servlets.CertificateRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SwitchAAICallbackServlet</servlet-name>
        <servlet-class>ch.bfh.unicert.webclient.servlets.SwitchAAICallbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametersServlet</servlet-name>
        <servlet-class>ch.bfh.unicert.webclient.servlets.ParametersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CallbackServlet</servlet-name>
        <servlet-class>ch.bfh.unicert.webclient.servlets.CallbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>ch.bfh.unicert.webclient.servlets.AuthenticationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
	    30
	</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
